#greyBackground {
    display: block;
    background-color: #777;
    font-weight: bold;
    font-size: 18px;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}
.centeredRec {
    margin: auto;
    width: 960px;
    padding: 25px;
    background-color: #ebebeb;
    text-align: center;
    color: #777;
}
.midLeft {
    display: inline-block;
    height: 310px;
    width: 495px;
    text-align: center;
    margin-left: 14.6%;
    padding: 25px;
    background-color: #ebebeb;
    color: #777;
}
#midRight {
    display: inline-block;
    height: 310px;
    vertical-align: top;
    width: 27.7%;
    margin-left: 15px;
    padding: 25px;
    text-align: center;
    background-color: #ebebeb;
    color: #777;
}
#articleBox {
    background-color: #777;
    text-align: center;
    padding: 20px;
    margin-top: 25px;
    height: 210px;
    color: #ebebeb;   
}
h3 {
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    padding: 20px;
}
p {
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    padding: 20px;
}